body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9fafb;
  line-height: 1.5;
  color: #333;
}

header {
  background-color: #2a3d66; 
  padding: 15px 0px;
  text-align: center;
}

footer {
  background-color: #2a3d66;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

nav a {
  text-decoration: none;
  color: #e0e6f2;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 0;
  transition: color 0.3s ease, border-color 0.3s ease;
  font-size: 15px;
  position: relative;
}

nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #38b6ff;
  transition: width 0.3s ease;
  margin: auto;
}

nav a:hover {
  color: #38b6ff;
}

nav a:hover::after {
  width: 100%;
}

.container {
  display: flex;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.container a {
  color: #2a3d66;
  text-decoration: none;
  border-bottom: 1px solid #2a3d66;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.container a:hover {
  color: #38b6ff;
  border-color: #38b6ff;
}

.left-column {
  width: 30%;
  background-color: #a2d5c6;
  padding: 25px;
}

.right-column {
  width: 70%;
  background-color: #ffffff;
  padding: 25px;
}

.photo {
  display: block;
  margin: 0 auto;
  width: 80%;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(56, 182, 255, 0.25);
}

h1 {
  font-size: 32px;
  color: #2a3d66; 
  margin-top: 0;
  margin-bottom: 5px;
}

h2 {
  font-size: 22px;
  border-bottom: 2px solid #555;
  padding-bottom: 8px;
  margin-bottom: 15px;
  color: #2a3d66;
}

h3 {
  margin-top: 0;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

ul {
  padding-left: 20px;
}

.footer-inner {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e0e6f2;
}

.footer-left {
  padding: 15px 10px;
  display: flex;
  gap: 20px;
}

.footer-inner a {
  color: #38b6ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-inner a:hover {
  color: #fff;
}

.footer-logo {
  height: 30px;
}

.cv-markdown {
  height: 150px;
}
